<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:8080/style.css">
    <link rel="icon" type="image/ico" href="http://localhost:8080/favicon.ico">
    <meta charset="UTF-8">
    <title>ToneAlly</title>
</head>
<body>
<div id="wrapper">
    <div id= "banner">
        <h1>Welcome to ToneAlly!</h1>

        <div id="nav">
            <a id="refresh" class="navButton" onclick="goToHome()">Create</a>
            <a id="analysis" class="navButton" onclick="scalesButton()">Analyse</a>
        </div>
    </div>

    <script type="text/javascript" src="http://localhost:8080/script.js"></script>
</div>

</body>
</html>